*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh; 
  width: 100vw; 
  background-image: url("Craywingz.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;

}
header {
    background-color: #036d07;
    color: white;
    padding: 30px 0;
    text-align: center;
}
header h1 {
    font-size:25px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
}
.navbar {
    background-color: #f5b506;
    overflow: hidden;
    display:flex;
    justify-content: space-between;
    padding: 20px 10px;}

    .navbar h1{
        font-size: 40px;
        color: #f8f8f8;
        text-transform: uppercase;
    
        font-weight: bold;
    }
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}

.sec{
  
 margin-bottom:-2500px;
    text-align: center;
    margin: 20px 0;
    font-size: 35px;
    font-weight: bolder;
    color: #f10000;
}
footer {
    background-color: #036d07;
    color: white;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    padding: 40px 0;
    position: relative;
    
    width: 100%;
    bottom:-1000px;
}        
article{
  margin-bottom:100px;
  padding: 0px 90px;
}
figure img{
  
  box-shadow:0px 0px  30px #00df07;
  border-radius:30px;
  margin-bottom:30px;
}


.content figcaption{
  position: relative;
  width: 30%;
  text-align: center;
  padding:5px;
  font-weight: bold;
  font-size:20px;
}
  article p{
   position: relative;

  width: 30%;
  text-align: center;
  padding:5px;
  font-weight: bold;
  font-size:20px;
}
button{
   position: relative;
  background-color: #eeb10a;
  width: 10%;
  text-align: center;
  padding:5px;
  font-weight: bold;
  font-size:20px;
  border-radius:15px;
  margin-right:-50%;
}

  aside{
  position: relative;
  width: 30%; 
  background-color: #f5b506;
  margin-top:-700px;
  margin-left:70%;
  }